

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* header{
    background-color: rgb(243, 137, 234);
    height: 15vh;
} */
body{
    
    background-color:rgba(53,124,158,1);

}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 50px;
    color: rgb(233, 243, 129);
    font-family: 'Solitreo', cursive;
   
    
}
.modelo{
    visibility: hidden;
    display: none;
}

.listar{
display: flex;
align-items: center;
justify-content: center;
}
.form2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
}
.info p {
    color: aliceblue;
}
.info input{
    padding: 10px;
    width: 25vw;
}



/* button{
    padding: 15px;
    width: 10vw;
    background-color: rgba(200, 96, 214, 0.31);
    border-radius: 20px;
    color: rgb(252, 254, 255);
    font-size: 20px;
    border: none;
}
button:hover{
    background-color:rgba(53,124,109,1) ;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center; */
    /* margin: 10px; */
/* } */
/* @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  } */
