

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
/* header{
    background-color: rgb(243, 137, 234);
    height: 15vh;
} */
body{
    
    background: linear-gradient(333deg, rgba(53,124,109,1) 2%, rgba(45,153,158,1) 47%, rgba(56,65,107,1) 100%);
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 50px;
    color: rgb(233, 243, 129);
    font-family: 'Solitreo', cursive;
   
    
}
.modelo{
    visibility: hidden;
    display: none;
}

.form1{
display: flex;
align-items: center;
justify-content: center;
}

.form2{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .form2 p{
    color:rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 10px;
 }
 .form2 input{
     padding: 10px;
     width: 25vw;
     border: 1px solid  rgba(200, 96, 214, 0.751);
     border-radius: 10px;
    
 }

.form1 p{
   color:rgb(255, 255, 255);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 20px;
   margin: 10px;
}
.form1 input{
    padding: 10px;
    width: 25vw;
    border: 1px solid  rgba(200, 96, 214, 0.751);
    border-radius: 10px;
   
}

button{
    padding: 15px;
    width: 10vw;
    background-color: rgba(200, 96, 214, 0.31);
    border-radius: 20px;
    color: rgb(252, 254, 255);
    font-size: 20px;
    border: none;
}
button:hover{
    background-color:rgba(53,124,109,1) ;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.oi{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 10rem; 
}
/* @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  } */
